
body {
}

a, a:visited {
  color:#333;
}

#container {
  padding-top:20px;
  width: 100%;
}

header {
  padding: 10px;
}
ul {
  list-style: none;
  font-size: 12px;
  padding: 0;
  margin-top: 3px;
    padding-top: 20px;
    padding-left: 5px;

}

li {
  cursor: pointer;
  padding-bottom: 5px;
}

li:hover {
  color: #000;
}

#college-title {
  font-family: "Helvetica", sans-serif;
  color: #555;
  font-size: 2.3em;
  text-align: center;
}

#text-select {
  float:left;
  margin-left: 10px;
}

#vis {
  overflow: hidden;
  position: relative;
}

#status {
  padding:0 0 20px 20px;
}

#controls {
  padding: 20px;
  background-color: #eee;
  margin: 10px;
  width: 350px;
}
#main {
  background-color: #FFF2E4;
}
#bubble-background {
  fill: none;
  pointer-events: all;
}

.bubble-node {
  /* fill: #d1e0f3; */
  fill: #DCE9BE;
}

.bubble-hover {
  /* fill: #b8c7d9; */
  fill: #E8E9E7;
}

.bubble-selected {
  /* fill: #a8c8ee;  */
  fill: #CEE98F;
  /* stroke: #6081a3; */
  stroke: #A6BA92;
  stroke-width: 1.5px;
}

.active {
  color: #A6BA92
}

a.bubble-label {
  font-family: "Helvetica", sans-serif;
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}


.bubble-label .bubble-label-value {
  font: 10px sans-serif;
  white-space: nowrap;
}

footer p {
  text-align: right;
  color: #eee;
  padding-top:20px;
  padding-bottom:20px;
  font: 10px sans-serif;
}

